<%- include('layout/header')%>

    <div class=" center-div" id="login">
        <div class="container w-25 border py-4 my-5">
            <div class="text-center title pb-5 ">
                <h2 class="font-weight-bold">Add user</h2>
            </div>
            <form action="/add"  method="post" id="add-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name='name' aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="number" class="form-control"  name='phone' aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Select image</label>
                    <input type="file" class="form-control" name="image" aria-describedby="emailHelp">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <%- include('layout/footer')%>